In [ ]:
# reading json data

import pandas as pd
df = pd.read_json (r"C:\Users\Asad\Desktop\Python ka chilla\libararies\datasets\json_sample.json" )  

df

,title,genre,gross,imdb_metascore,popcorn_score,rating,tomato_score
0,12 Strong,Action,"$453,173",54,72,R,54
1,A Fantastic Woman,Drama,"$87,000",78,83,R,90
2,Call Me By Your Name,Drama,"$1,000,000",93,87,R,96
3,Paddington 2,Animation,"$184,414",88,89,PG,100

: