## Sequence 
The sequence is order of collections of item where item can be access by indexing in order
## types
 string list tuples range are common type and we can operate multiple aperation such as indexing slicing concatination repetition and membership testing

In [3]:
# Lenght Data
length_data = "My name is asad"
print(len(length_data))
print(type(length_data))

15
<class 'str'>

In [5]:
#Membership Test
fruits = ["Apple","banna","mango"]
print ("apple" not in fruits)
print("mango"in fruits)

True
True

In [11]:
# concatination
a = 10
b = 20
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)

x=[1,2,3]
y=[4,5,6]
combined = x+y
print(combined)

30
-10
200
0.5
10
[1, 2, 3, 4, 5, 6]

In [12]:
#repetition
my_list =[1,2,2]
print(my_list*3)

[1, 2, 2, 1, 2, 2, 1, 2, 2]

In [15]:

for find in range (10):
  print (find)
fruits=("apple","banana","mango")
print(fruits)
print("apple" in fruits)

0
1
2
3
4
5
6
7
8
9
('apple', 'banana', 'mango')
True

In [11]:
print("7" in find)

TypeError: argument of type 'int' is not iterable